<div ui-view="header"></div>
<ion-content class="has-header">
<div class="list padding">
	<img src="img/icon_512x512.png" class="logo">
</div>
<div class="list card padding">
	<label class="item item-input">
		<span class="input-label">Access Code</span>
		<input type="text" ng-model="doorkit.broker_id">
	</label>
	<label class="item item-input">
		<span class="input-label">Password</span>
		<input type="password" ng-model="doorkit.password">
	</label>
	<button ng-click="connectBroker(user)" class="button button-block button-energized activated">
	Connect
	</button>
</div>
</ion-content>